html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(153, 255, 221);
}

header {
    background-color: rgb(76, 124, 108);
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    color:#111;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 1.5em;
}

.corps{
    margin: 0px;
    padding: 1em;
}

.premier{
    width : 400px;
    height : 400px;
}
