html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(153, 255, 221);
}

header {
  background-color: rgb(76, 124, 108);
  width: 100%;
  margin: 0px;
  padding: 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(76, 124, 108);
  padding: 10px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #ababab;
  color:#111;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 1.5em;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2.5em;
  border-radius: 12px;
  font-size: 1em;
}

.corps{
  margin: 0px;
  padding: 1em;
}

.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 2em; /* Place content 60px from the top */
  transition: 0.5s; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 3em;
  width: 30px;
  height: 30px;
  padding: 20px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#main {
  transition: margin-left .5s; 
  padding: 1em;
}

#sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
